header{
    width: 100%;
    background-image: url("../images/top-view-shakh-plov-delicious-eastern-meal-consists-cooked-rice-inside-round-dough-dark-background-rice-cooking-meal-food-eastern-cuisine.jpg");
    height: 40rem;
    background-position: center; 
    background-size: cover;
    margin: 0;
    @include respond-below(sm){
        width: 100%;
        background-image: url("../images/top-view-shakh-plov-delicious-eastern-meal-consists-cooked-rice-inside-round-dough-dark-background-rice-cooking-meal-food-eastern-cuisine.jpg");
        height: 18rem;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .uk-container{
        display: flex;
        background-color: white;
        align-items: center;
        margin: 0;
        justify-content: space-around;
        max-width: 100%;
        height: 6rem;
    }

    .logo{
        max-width: 100px;
        @include respond-above(sm){
            max-width: 150px;
           margin-right: 65px;
        }
          }
          
          img{
              width: 200px;
              @include respond-above(sm){
                width: 300px;
            }
    }

    .menu{
      
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        align-items: center;
        @include respond-above(sm){
           padding-top: 18px;
        }
        li{
            margin-right: 8px;

            a{
                font-size: 10px;
                color: $primary-color;
                font-weight: 500;
                transition: 0.3s ease-in-out;
                text-decoration: none;

                &:hover{
                    color: $secondary-color;
                }
                @include respond-above(sm){
                    font-size: 18px;
                    font-family: $font-regular;
                    margin-right: 30px;
                }
            }
        }
    }
.hero-text{
    max-width: 40rem;
    margin:30px;
    position: relative;
    @include respond-above(sm){
        max-width: 40rem;
        margin:150px;
    }
  h1{
      color: white;
      font-weight: $font-bold;
      font-family: $primary-font;
      font-size: 30px;
      position: relative;
      top: 0;
      @include respond-above(sm){
        font-size: 50px;
        font-family: $font-regular;
        font-weight: $font-bold;
    }
  }
  p{
    color: white;
    font-weight: $font-bold;
    font-family: $primary-font;
    font-size: 15px; 
    @include respond-above(sm){
        font-size: 25px;
        font-family: $font-regular;
        font-weight: $font-bold;
    }  
  }
}
  
}
